body {

    background: url(./img/toDo3.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    font-size: 55px;
    font-weight: 400px;
    text-align: center;
}

.input {
    width: 700px;
    height: 30px;
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper_main-btn {
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #6ba32d;
    cursor: pointer;
    margin-bottom: 30px;;
}

.btn:hover {
    opacity: 10px;
    background-color: #547f1d;
}

.check {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.list {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 60px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

.list_item {
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    position: relative;
    right: 55px;
}

.list_item_finish {
    text-decoration: line-through;
    color: grey;
}

.input_li {
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.fit-picture {
    height: 25px;
    cursor: pointer;
    right: 0;
}

.wrapper_svg {
    width: 100px;
    position: absolute;
    right: -110px;
    top: 0;
    display: flex;
    justify-content: right;
}




@media screen and (max-width: 767px) {
    .input {
        width: 400px;
    }

    .list {
        font-size: 15px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 270px;
    }
}