body {
    background: url(./img/toDo3.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    font-size: 55px;
    font-weight: 400px;
    text-align: center;
}

.main-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

.input {
    font-size: 16px;
    width: 750px;
    height: 30px;
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-wrapper {
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(114, 173, 41);
    cursor: pointer;
    margin-bottom: 30px;
}

.btn:hover {
    opacity: 10px;
    background-color: #618f24;
}

.radio-wrapper {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.radio {
    cursor: pointer;
}

.ul-wrapper {
    margin-top: 60px;
}

.todo-list {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
}

.input_li {
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
}

.todo-list__text {
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    width: 100%;
}

.todo-list__wrapper {
    display: flex;
    width: 110px;
    justify-content: flex-end;
    padding-left: 10px;;
    height: 25px;
}


.todo-list__completed {
    color: rgb(182, 5, 5);
}

.button {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn-ok {
    background-color: rgb(192, 192, 246);
    font-size: 9px;
    font-weight: bold;
}

.btn-completed {
    background-color: rgb(114, 173, 41);
}

.btn-del {
    background-color: rgb(246, 61, 61);
}

.btn-edit {
    background-color: rgb(248, 248, 78);
}



@media screen and (max-width: 767px) {
    .title {
        font-size: 50px;
    }

    .input {
        width: 500px;
    }

    .todo-list {
        font-size: 15px;
        font-weight: bold;
        margin-left: 30px;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        word-break: break-all;
    }

    .input_li {
        font-size: 15px;
    }
}


@media screen and (max-width: 560px) {
    .title {
        font-size: 50px;
    }

    .input {
        width: 400px;
    }

    .todo-list {
        font-size: 14px;
        font-weight: bold;
        margin-left: 30px;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
        word-break: break-all;
    }

    .input_li {
        font-size: 14px;
    }
}


@media screen and (max-width: 420px) {
    .title {
        font-size: 50px;
    }

    .input {
        width: 290px;
    }

    .todo-list {
        font-size: 13px;
        font-weight: bold;
        margin-left: 30px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        word-break: break-all;
    }

    .input_li {
        font-size: 13px;
    }
}