body {
  margin: 0;
  background: url(../img/toDo3.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
}

.title {
  margin: 0;
  margin: 30px auto;
  font-size: 55px;
  font-weight: 400px;
  text-align: center;
}

.main-wrapper {
  padding: 0 5px;
  margin: 0 auto;
}

.input {
  font-size: 16px;
  width: 725px;
  height: 30px;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}


.button-wrapper {
  width: 225px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(114, 173, 41);
  cursor: pointer;
  margin-bottom: 30px;
  color: black;
  text-align: center;

  &:hover {
    opacity: 10px;
    background-color: #618f24;
}
}

.radio-wrapper {
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.radio {
  cursor: pointer;
}

.ul-wrapper {
  margin-top: 60px;
}

.todo-list {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    width: 100%;
  }
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-list-item__input {
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}


.btn-wrapper {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  height: 25px;
}


.text-completed {
  color: rgb(182, 5, 5);
}

.button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.btn-ok {
  width: 37.5px;
  background-color: rgb(114, 173, 41);
  font-size: 12px;
  font-weight: bold;
}

.btn-cancel {
  width: 37.5px;
  background-color: rgb(246, 61, 61);
  font-size: 12px;
  font-weight: bold;
}

.btn-completed {
  background-color: rgb(114, 173, 41);
}

.btn-del {
  background-color: rgb(246, 61, 61);
}

.btn-edit {
  background-color: rgb(248, 248, 78);
}

.hidden {
  display: none;
}



@media screen and (max-width: 770px) {
  .title {
      font-size: 50px;
  }

  .input {
      width: 500px;
  }

  .todo-list {
      font-size: 15px;
      font-weight: bold;
      margin-left: 30px;
      width: 450px;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all;
  }

  .todo-list-item__input {
      font-size: 16px;
  }
}


@media screen and (max-width: 550px) {
  .title {
      margin: 25px auto;
  }

  .input {
      width: 450px;
  }

  .todo-list {
      font-size: 14px;
      font-weight: bold;
      margin-left: 30px;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all;
  }

  .todo-list-item__input {
      font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .title {
      font-size: 45px;
  }

  .input {
      width: 385px;
  }

  .todo-list {
      font-size: 14px;
      font-weight: bold;
      margin-left: 30px;
      width: 370px;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all;
  }

  .todo-list-item__input {
      font-size: 15px;
  }
}


@media screen and (max-width: 420px) {
  .title {
      margin: 20px auto;
      font-size: 40px;
  }

  .input {
      width: 290px;
  }

  .radio-wrapper {
      width: 300px;
      font-size: 12px;
  }

  .todo-list {
      font-size: 13px;
      font-weight: bold;
      margin-left: 30px;
      width: 270px;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all;
  }

  .todo-list-item__input {
      font-size: 14px;
  }

  .button {
    width: 20px;
    height: 20px;
    font-size: 9px;
}

.btn-ok, .btn-cancel {
  width: 30px;
  font-size: 7px;
}
}


@media screen and (max-width: 361px) {
  .title {
      font-size: 35px;
  }

  .input {
      width: 270px;
  }

  .radio-wrapper {
      width: 280px;
      font-size: 12px;
  }

  .todo-list {
      font-size: 12px;
      font-weight: bold;
      margin-left: 30px;
      width: 270px;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all;
  }

  .todo-list-item__input {
      font-size: 13px;
  }
}